/* About Section */
#about_section {
  height: 100vh;
}

#about_section .main-presentation {
  display: grid;
  grid-template-columns: 65% 35%; /* Two rows of equal height */
  justify-content: space-between;
  height: 85vh;
  width: 90%;
  margin: 0 auto;
}

#about_section .right-presentation {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about_section .left-presentation {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about_section .left-presentation > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#about_section .left-presentation > div p {
  font-size: 40px;
}

#about_section .secondary {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 11px;
  height: 15vh;
}


//Parcours Section
.parcours-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;     /* Center vertically */
}

.parcours-section .container {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.parcours-section .parcours-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 20px;
}

.parcours-section .parcours-top .illustration {
  flex: 1 1 30%;
  text-align: center;
}

.parcours-section .parcours-top .illustration img {
  max-width: 100%;
  height: auto;
}

.parcours-section .parcours-top .text-block,
.parcours-section .parcours-top .text-box {
  padding-top: 60px;
  padding-left: 40px;
  flex: 1 1 55%;
  font-size: 1.1rem;
  line-height: 1.6;
}

.parcours-section .parcours-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
}

.parcours-section .parcours-bottom .text-block,
.parcours-section .parcours-bottom .text-box {
  flex: 1 1 55%;
  font-size: 1.1rem;
  line-height: 1.6;
  padding: auto;
}

.parcours-section strong {
  font-weight: 700;
}



//skills section
#skills-section .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns the title to the left */
  height: 100vh; /* Adjust the height as needed */
  width: 90%;
}

#skills-section .title {
  align-self: flex-start; /* Ensures the title stays at the top left */
}

#skills-section .center-image {
  display: flex;
  flex: 1; /* Allows the image container to take up remaining space */
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensures the container takes full width for centering */
}

/* Contact section */
#contact-section {
  height: 100vh;
}

#contact-section .container {
  width: 90%;
}

#contact-section .top-contact {
  display: flex;
  justify-content: space-between;
}

#contact-section .top-contact img {
  max-width: 200px;
}

#contact-section .contact-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#contact-section .middle-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-section .form {
  width: 100%;
  padding: 30px 0px;
}

#contact-section .form-group {
  width: 100%;
}

#contact-section .form-group-one {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

#contact-section .form-group-one .form-group {
  flex: 1;
}

#contact-section .form-group input {
  border-radius: 16px;
  width: 100%;
  padding: 0px 12px;
}

#contact-section .form-group textarea {
  height: 150px; /* Adjust height as needed */
  width: 100%;
  border-radius: 16px;
  padding: 12px;
}

#contact-section .form-group-btn {
  text-align: right;
}

#contact-section .btn {
  padding: 10px 40px;
  background-color: lightgrey;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact-section .btn:hover {
  background-color: #9b9a9a;
}

#contact-section .bottom-contact {
  background: #F7F7F7;
  border-radius: 84px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 24px 96px;
  text-align: center; /* Centers the text horizontally */
}
