li {
  list-style-type: none;
}

a {
  text-decoration: none;
  align-content: center;
  color: black;
  display: block;
}

p, h1, h2, h3 {
  margin: 0px;
}

h2 {
  font-size: 96px;
  font-family: "Abhaya Libre ExtraBold";
}

h3 {
  font-size: 64px;
  font-family: "Abhaya Libre ExtraBold";
}

p {
  font-family: Inter;
}
